#comic {
    // section blue with img
    .cover {
        background-color: $primary-color;
        height: 70px;
        position: relative;
        img {
            border: 1px solid white;
            height: 200px;
            position: absolute;
            bottom: 15px;
        }
    }

    // section details comic with adv
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        .description, .adv {
            padding: 20px;
        }
        .description {
            flex-basis: 70%;
        }
        .adv {
            flex-basis: 30%;
        }
        h1 {
            text-transform: uppercase;
            color: rgb(21, 63, 91);
            margin: 20px 0;
        }
        .price {
            display: flex;
            background-color: rgb(112, 183, 100);
            color: white;
            font-size: 12px;
            .price-left {
                flex-basis: 75%;
                padding: 12px;
                display: flex;
                justify-content: space-between;
                color: rgb(171, 236, 154);
                span {
                    color: white;
                }
            }
            .price-right {
                border-left: 1px solid rgb(85, 141, 77);
                flex-basis: 25%;
                padding: 12px;
            }
        }
        .text {
        color: #666;
        padding: 15px 0;
        font-size: 12px;
        line-height: 20px;
        }
    }

    // section info comic
    .info-box {
        background-color: rgb(246, 246, 246);
        padding-bottom: 80px;
        .info {
            display: flex;
            justify-content: center;
            .talent, .specs {
                flex-basis: 50%;
                color: rgb(21, 63, 91);
            }
            .talent {
                padding-right: 20px;
            }
            .specs {
                padding-left: 20px;
            }
            h3 {
                padding: 20px 0;
                border-bottom: 1px solid rgb(234, 234, 234);
            }
            .art, .written, .series, .us-price, .onsale-date {
                display: flex;
                border-bottom: 1px solid rgb(234, 234, 234);
                font-size: 12px;
                padding: 10px 0;
            }
            p {
                flex-basis: 30%;
            }
            .artists, .writers, .series-name, .price-value {
                flex-basis: 60%;
                color: rgb(131, 197, 228);
            }
            .series-name {
                text-transform: uppercase;
            }
            .price-value, .date {
                color: #666;
            }
        }
    }
}